/*  Applying styles to all the html elements present on the html page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Here, we are storing the values inside a certain variable so that we can use that value whenever we want,only by referreing to the variable name. It's just like a global variable.  */
:root{
    --bg-dark-blue-color: #003049;
    --bg-orange-color: #f77f00;
    --bg-lime-color: #fcbf49;
    --bg-skin-color: #eae2b7;
    --font-main-family: 'Oswald', sans-serif;
    --font-common-family: 'Spartan', sans-serif;
    
}


/* ######################################################################################################## */
/* ######################################################################################################## */

/* ##################################  HEADER CSS  ################################## */

/* Giving the background color to the header */
.header{
    background: radial-gradient(white, rgba(29, 0, 77, 0.5)) ;
}

/* Applying styles to all the elements present inside the .conatiner class */
.container{
    max-width: 100%;
    margin: auto;
    padding: 0 50px;
}

/* Applying styles to all the elements present inside the .navbar class */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Aligning all the links inside nav tag to the right */
nav{
    flex: 1;
    text-align: right;
}

/* Applying styles to the elements present inside the ul tag of nav tag */
nav ul{
    display: inline-block;
    list-style-type: none;
}

/* Giving the margin from the right to the links inside the list */
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

/* Applying styles to the elements present inside the [a] tag*/
nav ul li a{
    text-decoration: none;
    color: var(--bg-dark-blue-color);
    font-family: var(--font-main-family);
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}

/* Styling the line below the [a] tag. It is that line which appers on hovering over [a] tag */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--bg-dark-blue-color);
    display: block;
    margin-left: 0;
}

/* Giving hovering effect to the [a] tag */
nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

/* Giving the transition to image inside .logo class */
.logo img{
    transition: 0.5s;
}

/* Giving hovering effect to the logo image */
.logo img:hover{
    /* We have used transform property to icrease the size of the image when we hover over it */
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;
}

/* Dividing the .nav-bar into 2 columns */
.navbar-row{
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Specifying the min-width of the .nav-col which is the text column */
.navbar-col{
    min-width: 300px;
    text-align: right;
}

/* Defining the width of the image and also positioning it */
.navbar-col img{
    width: 600px;
    position: relative;
    bottom: 60px;
}

/* Applying styles to the heading present inside the .navbar-col class */ 
.navbar-col h1{
    font-family: var(--font-main-family);
    font-size: 52px;
    font-weight: 500;
    color: var(--bg-dark-blue-color);
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* Applying styles to the [p] tag present inside the .navbar-col class */ 
.navbar-col p{
    font-family: var(--font-common-family);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Applying styles to the .main-btn class to create a button */ 
.main-btn{
    display: inline-block;
    background-color: rgb(253, 61, 28);
    border: 2px solid rgb(253, 61, 28);
    color: white;
    padding: 8px 16px;
    margin: 20px 0;
    border-radius: 30px;
    text-decoration: none;
    font-family: var(--font-common-family);
    font-size: 12px;
    font-weight: 500;
    transition: 0.5s;
    
}

/* Giving hovering effect to .main-btn class */
.main-btn:hover{
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}

/* Applying styles to the .fa-shopping-cart (Cart-Icon) present inside the .navbar class */ 
.navbar .fa-shopping-cart{
    font-size: 24px;
    color: var(--bg-dark-blue-color);
    transition: 0.5s;
}

/* Giving hovering effect to the .fa-shopping-cart class (Cart-Icons) */
.navbar .fa-shopping-cart:hover{
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;
}

/* Applying styles to the .material-icons class (Menubar-Icon) present inside the .navbar class */
.navbar .material-icons{
    font-size: 30px;
    color: var(--bg-dark-blue-color);
    margin-left: 14px;
    display: none;
    cursor: pointer;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  HEADER MEDIA QUERIES  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Here, we are saying that if a screen size gets reduced to (700px) then apply all these styles */
@media screen and (max-width: 700px){

    /* Decreasing the padding of the .container class from left and right */
    .container{
        padding: 0 14px;
    }

    /* Here, we are displaying the menubar icon when the screen-size reduces to 700px and less  */
    .navbar .material-icons{
        display: block;
    }

    /* Giving position to both menubar and cart icon */
    .navbar .fa-shopping-cart, .material-icons{
        position: relative;
        bottom: 40px;
        left: 80px;
    }

    /* Positioning the website logo onto the screen */
    .logo img{
        position: relative;
        bottom: 20px;
        right: 40px;
    }

    /* Applyying the styles to the unordered lists */
    nav ul{
        position: absolute;
        top: 60px;
        left: 0;
        background: var(--bg-dark-blue-color);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    /* Here we are displaying the navbar links and also positioning it */
    nav ul li{
        display: block;
        margin-right: 28px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Applying styles to the [a] tag */
    nav ul li a{
        color: white;
        font-family: var(--font-common-family);
        font-size: 10px;
    }

    /* Deciding the width of .navbar-col class elements */
    .navbar-col{
        min-width: 160px;
    }
    
    /* Applying styles to the heading inside the .navbar-col class */
    .navbar-col h1{
        font-size: 46px;
        line-height: 50px;
    }
    
    /* Applying styles to the [p] tag inside the .navbar-col class */
    .navbar-col p{
        font-size: 13px;
        font-weight: 300;
    }

    /* Reducing the padding, font-size and font-weight of the .main-btn class */
    .main-btn{
        padding: 6px 14px;
        font-size: 10px;
        font-weight: 400;
    }
    
    /* Reducing the scale of the hover effect */
    .main-btn:hover{
        transform: scale(1.1);
    }
}


/* ######################################################################################################## */
/* ######################################################################################################## */

/* ##################################  ALL PRODUCTS CSS  ################################## */

/* Applying styles to the elements present inside the .all-prod class */
.all-prod{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-right: 150px;
}

/* Applying styles to the heading present inside the .all-prod class */
.title h2{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--font-main-family);
    color: var(--bg-dark-blue-color);
    font-size: 36px;
}

/* Styling the line below the heading */
.title h2::after{
    content: '';
    width: 400px;
    height: 4px;
    background-color: var(--bg-orange-color);
    display: block;
    margin-top: 6px;
}

.title select{
    margin: 0 0 60px;
    border: 1px solid var(--bg-dark-blue-color);
    padding: 6px;
}

/* Dividing the .all-prod-row class into 4 columns */
.all-prod-row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 15px;
}

/* Giving the margin from the bottom to the .all-prod-col class */
.all-prod-col{
    margin-bottom: 50px;
    transition: 0.5s;
}

/* Reducing the width and height of the image present inside the .all-prod-col class */
.all-prod-col img{
    width: 250px;
    height: 320px;
}

/* Applying styles to the heading present inside the .all-prod-col class */
.all-prod-col h4{
    font-family: var(--font-common-family);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 6px;
}

/* Applying styles to the .material-icons class (Star-Icons) present inside the .ratings class */
.ratings .material-icons{
    color: var(--bg-orange-color);
    font-size: 20px;
    text-align: center;
}

/* Applying styles to the [p] tag present inside the .all-prod-col class */
.all-prod-col p{
    font-family: var(--font-common-family);
    font-size: 14px;
    font-weight: 500;
    margin-top: 6px;
}

/* Giving the hovering effect to the .all-prod-col class */
.all-prod-col:hover{
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FEATURED PRODUCTS MEDIA QUERIES  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Here, we are saying that if a screen size gets reduced to (700px) then apply all these styles */
@media screen and (max-width: 700px){
    
    /* Giving a padding to the left-side so that we can align contents inside .all-prod class at the center */
    .all-prod{
        padding-left: 20px;
    }

    /* Reducing the font-size of the header inside .all-prod class */
    .title h2{
        margin-bottom:20px;
        font-size: 30px;
    }

    .title select{
        margin-bottom: 30px;
    }

    /* Applying styles to the elemets present inside .all-prod-row class */
    .all-prod-row{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 30px;
    }

    /* Reducing the height and width of the image present inside the .all-prod-col class */
    .all-prod-col img{
        width: 150px;
        height: 220px;
    }

    /* Reducing the font-size of the product name */
    .all-prod-col h4{
        font-size: 12px;
    }
    
    /* Reducing the size of star icons and also positioning them */
    .ratings .material-icons{
        position: relative;
        top: 2px;
        left: 0px;
        font-size: 14px;
    }
    
    /* Reducing the font-size of [p] tag inside the .all-prod-col class */
    .all-prod-col p{
        font-size: 12px;
    }

}


/* ######################################################################################################## */
/* ######################################################################################################## */

/* ##################################   ACCESSORIES   ################################## */

/* All the comments above each class are same as the All PRODUCTS CSS */

.acc-prod{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-right: 150px;
}

.acc-prod h2{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: var(--font-main-family);
    color: var(--bg-dark-blue-color);
    font-size: 36px;
}

.acc-prod h2::after{
    content: '';
    width: 400px;
    height: 4px;
    background-color: var(--bg-orange-color);
    display: block;
    margin-top: 6px;
}

.acc-prod-row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 15px;
}

.acc-prod-col{
    margin-bottom: 50px;
    transition: 0.5s;
}

.acc-prod-col img{
    width: 250px;
    height: 320px;
}

.acc-prod-col h4{
    font-family: var(--font-common-family);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.ratings .material-icons{
    color: var(--bg-orange-color);
    font-size: 20px;
    text-align: center;
}

.acc-prod-col p{
    font-family: var(--font-common-family);
    font-size: 14px;
    font-weight: 500;
    margin-top: 6px;
}

.acc-prod-col:hover{
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}

/* Giving the margin below the pagination buttons */
.page-btn{
    margin: 0 auto 80px;  
}

/* Applying styles to the pagination buttons in .page-btn class */
.page-btn span{
    display: inline-block;
    border: 1px solid var(--bg-dark-blue-color);
    font-family: var(--font-common-family);
    color: var(--bg-dark-blue-color);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

/* Giving hovering effect to the pagination buttons */
.page-btn span:hover{
    background-color: var(--bg-dark-blue-color);
    color: white;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ACCESSORIES MEDIA QUERIES  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Here, we are saying that if a screen size gets reduced to (700px) then apply all these styles */
@media screen and (max-width: 700px){

    /* Giving a padding to the left so that we can align contents inside .acc-prod class at the center */
    .acc-prod{
        margin-top: 0;
        padding-left: 20px;
    }

    /* Reducing the font-size of the header inside .acc-prod class */
    .acc-prod h2{
        margin-bottom: 40px;
        font-size: 30px;
    }

    /* Applying styles to the elemets present inside .acc-prod-row class */
    .acc-prod-row{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 30px;
    }

    /* Reducing the height and width of the image present inside the .acc-prod-col class */
    .acc-prod-col img{
        width: 150px;
        height: 220px;
    }

    /* Reducing the font-size of the product name */
    .acc-prod-col h4{
        font-size: 12px;
    }
    
    /* Reducing the size of star icons and also positioning them */
    .ratings .material-icons{
        position: relative;
        top: 2px;
        left: 0px;
        font-size: 14px;
    }
    
    /* Reducing the font-size of [p] tag inside the .acc-prod-col class */
    .acc-prod-col p{
        font-size: 12px;
    }

    .page-btn span{
        margin-left: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    
}


/* ######################################################################################################## */
/* ######################################################################################################## */

/* ##################################  FOOTER CSS  ################################## */

/* Applying styles to all the elements inside the .footer class */
.footer{
    width: 100%;
    background-color: #003c5ce7;
    padding: 60px 0 20px;
}

/* Dividing .footer-row class into 4 columns */
.footer-row{
    display: grid;
    grid-template-columns: 32% 28% 20% 20%;
    margin-bottom: 10px;
}

/* $$$$$$$$$$$$$$$$$$$$$$  FOOTER-COL1  $$$$$$$$$$$$$$$$$$$$$$ */

/* Applying styles to the heading inside the .footer-col1 class */
.footer-col1 h3{
    font-family: var(--font-common-family);
    font-size: 26px;
    color: var(--bg-skin-color);
    margin-bottom: 8px;
}

/* Applying styles to the [p] tag inside the .footer-col1 class */
.footer-col1 p{
    font-family: var(--font-common-family);
    font-size: 14px;
    color: var(--bg-skin-color);
    margin-bottom: 10px;
}

.footer-col1 img{
    transition: 0.5s;
}

/* Giving the hovering effect to the image inside the .footer-col1 class */
.footer-col1 img:hover{
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}

/* $$$$$$$$$$$$$$$$$$$$$$  FOOTER-COL2  $$$$$$$$$$$$$$$$$$$$$$ */

/* Applying styles to the elements present inside the .footer-col2 class */
.footer-col2{
    text-align: center;
    margin: 0 40px;
    position: relative;
    bottom: 60px;
}

/* Applying styles to the logo image present inside the .footer-col2 class */
.footer-col2 img{
    width: 160px;
    margin-bottom: -20px;
    transition: 0.5s;
}

/* Giving the hovering effect to the logo image inside the .footer-col2 class */
.footer-col2 img:hover{
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}

/* Applying styles to the [p] tag present inside the .footer-col2 class */
.footer-col2 p{
    font-family: var(--font-common-family);
    font-size: 12px;
    color: var(--bg-skin-color);
}

/* $$$$$$$$$$$$$$$$$$$$$$  FOOTER-COL3  $$$$$$$$$$$$$$$$$$$$$$ */

/* Applying styles to the heading present inside the .footer-col3 class */
.footer-col3 h3{
    font-size: 24px;
    font-weight: 500px;
    font-family: var(--font-common-family);
    padding-bottom: 6px;
    color: white;
    text-align: center;
}

/* Removing the bullet points of the links and aligning them to the center */
.footer-col3 ul{
    list-style-type: none;
    text-align: center;
}

/* Giving margin to the bottom of after every list items */
.footer-col3 ul li{
    margin-bottom: 4px;
}

/* Applying styles to the [a] tag inside the .footer-col3 class */
.footer-col3 ul li a{
    font-size: 13px;
    font-family: var(--font-common-family);
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

/* Giving hovering effects to the [a] tag links */
.footer-col3 ul li a:hover{
    font-size: 14px;
    color: var(--bg-orange-color);
}

/* $$$$$$$$$$$$$$$$$$$$$$  FOOTER-COL4  $$$$$$$$$$$$$$$$$$$$$$ */

/* All comments are same as the FOOTER-COL3 for the css here */

.footer-col4 h3{
    font-size: 24px;
    font-weight: 500px;
    font-family: var(--font-common-family);
    padding-bottom: 6px;
    color: white;
    text-align: center;
}

.footer-col4 ul{
    list-style-type: none;
    text-align: center;
}

.footer-col4 ul li{
    margin-bottom: 4px;
}

.footer-col4 ul li a{
    font-size: 13px;
    font-family: var(--font-common-family);
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.footer-col4 ul li a:hover{
    font-size: 14px;
    color: var(--bg-orange-color);
}

/* Giving styles to the horizontal line above the copyright statement */
.footer hr{
    border: none;
    background: black;
    height: 3px;
    margin-bottom: 30px;
}

/* Applying styles to the .copyright class */
.copyright{
    text-align: center;
    font-family: var(--font-common-family);
    font-size: 18px;
    color: var(--bg-skin-color);
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOOTER MEDIA QUERIES  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Here, we are saying that if a screen size gets reduced to (700px) then apply all these styles */
@media screen and (max-width: 700px){

    /* Changing the width of columns inside the .footer-cols class to 100% so that it can fit to the screen */
    .footer-row{
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 10px;
    }

    /* $$$$$$$$$$$$$$$$$$$$$$  FOOTER-COL1  $$$$$$$$$$$$$$$$$$$$$$ */

    /* Giving the margin at the bottom of Column-1 to maintain distance with other column */
    .footer-col1{
        margin-bottom: 60px;
    }

    /* Reducing the font-size of the header inside .footer-col1 class */
    .footer-col1 h3{
        font-size: 24px;
        text-align: center;
    }

    /* Reducing the font-size and the margin-bottom of the [p] tag inside .footer-col1 class  */
    .footer-col1 p{
        font-size: 12px;
        margin-bottom: 10px;
        text-align: center;
    }

    /* Positioning the image inside the .footer-col1 class */
    .footer-col1 img{
        position: relative;
        left: 40px;
    }

    /* $$$$$$$$$$$$$$$$$$$$$$  FOOTER-COL3  $$$$$$$$$$$$$$$$$$$$$$ */

    /* Giving margin at the bottom of .footer-col3 container */
    .footer-col3{
        margin-bottom: 30px;
    }

    /* Giving padding at the bottom of the Useful Links */
    .footer-col3 h3{
        padding-bottom: 10px;
    }

    /* Giving margin at the bottom of the list links */
    .footer-col3 ul li{
        margin-bottom: 6px;
    }

    /* $$$$$$$$$$$$$$$$$$$$$$  FOOTER-COL4  $$$$$$$$$$$$$$$$$$$$$$ */

    /* Giving margin at the bottom of .footer-col4 container */
    .footer-col4{
        margin-bottom: 20px;
    }

    /* Giving padding at the bottom of the Useful Links */
    .footer-col3 h4{
        padding-bottom: 10px;
    }

    /* Giving margin at the bottom of the list links */
    .footer-col4 ul li{
        margin-bottom: 6px;
    }

    /* Reducing the margin-bottom below [hr] tag */
    .footer hr{
        margin-bottom: 20px;
    }

    /* Reducing the font-size of the text present inside the .copyright class */
    .copyright{
        font-size: 13px;
    }

}

